<%- include('partials/head.ejs') %> 
    <%- include('partials/navbar.ejs') %> 
    <h1>The Home Page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid laboriosam reiciendis exercitationem atque itaque molestias est delectus excepturi iste tempora. Pariatur enim optio eius inventore ipsam. Vel ea atque facilis.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam debitis repudiandae, reiciendis tempora error totam odio! Nam, veniam distinctio! Voluptate quae, earum facilis incidunt a quo minus natus delectus et!</p>
<%- include('partials/footer.ejs') %> 